# === TELEGRAM ===
BOT_TOKEN=

# === CONFIGURACIÓN DEL BOT ===
NODE_ENV=development
LOG_LEVEL=info

# === LÍMITES ===
MAX_DELETE_MESSAGES=100
WEATHER_CACHE_TTL_MINUTES=10
FILES_STORAGE_PATH=D:\fileBotTelegram

# === DESCARGAR VIDEOS DE TIK TOK ===
TIKTOK_DOWNLOADER_BASE_URL=

# === ENVIAR CORREOS DE OUTLOOK ====
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

EXPLORER_PORT=

GEMINI_API_KEY=